<h1>TODO List</h1>
<li>TODO: Add Player</li>
<li>TODO: Select Player</li>
<li>TODO: Select Team (1 of 2)</li>
<li>TODO: All in Modals??</li>

<button>Start Game</button>
<button>Add Player</button>
<button>Create Team</button>
<button>Bekijk statistieken</button>

<h1>Wish List</h1>
<li>TODO: Speel Anoniem?</li>
<li>TODO: Meer dan 1 persoon per team</li>
<li>TODO: Login Screen, maybe later</li>
<input placeholder="Voer hier de game-id in" #gameId style="margin: 5px;" />
<button (click)="addGameId(gameId.value)" [routerLink]="['game']">
  Ga naar Game
</button>
