<div class="container-fluid">
  <h3 style="text-align: center;">Maak je wedstrijd aan</h3>
  <div ng-show="errorMessage">
    <h3 class="errorDisplay">{{ errorMessage }}</h3>
  </div>
  <div class="card" style="margin: 2rem;">
    <div class="card-body">
      <h5 class="card-title">Speler 1</h5>
      <p class="card-text">
        <select [(ngModel)]="team1">
          // value is an object
          <option *ngFor="let player of players" [ngValue]="player.player_Id">
            {{ player.firstName }} {{ player.lastName }}
          </option>
        </select>
      </p>
    </div>
  </div>
  <div class="card" style="margin: 2rem;">
    <div class="card-body">
      <h5 class="card-title">Speler 2</h5>
      <p class="card-text">
        <select [(ngModel)]="team2">
          // value is an object
          <option *ngFor="let player of players" [ngValue]="player.player_Id">
            {{ player.firstName }} {{ player.lastName }}
          </option>
        </select>
      </p>
    </div>
  </div>
  <div class="wrapper">
    <div *ngIf="!ready">
      <button class="btn-lg btn-danger" (click)="makeGame()">
        Bevestig Spelers
      </button>
    </div>
    <div *ngIf="ready">
      <i class="fa fa-arrow-right"> </i>
      <button class="btn-lg btn-primary" [routerLink]="['game/']">
        Speel Spel
      </button>
    </div>
    <div *ngIf="!ready">
      <button class="btn-lg btn-secondary" [routerLink]="['home/']">
        Menu
      </button>
    </div>
  </div>
</div>
